body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #f8f8f8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
}

.office-hours, .call-center {
    text-align: center;
}

.contact-header {
    text-align: center;
    margin: 20px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    max-width: 400px;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    align-items: center;
}

.contact-btn {
    padding: 10px 20px;
    background-color:steelblue;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    float: inline-end;
}

.contact-btn:hover {
    background-color: springgreen;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal:target {
    display: block; /* Show the modal when targeted */
}

.modal-content {
    background-color:white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 100px;
    width: 50%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover {
    color: black;
}

form {
    background-image: url(../img/OIP\ \(3\).jfif);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color:gray;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: springgreen;


.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #f8f8f8;
}

.footer-info {
    flex: 1;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact-info {
        grid-template-columns: 1fr;
    }
    
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .footer {
        flex-direction: column;
    }
}
